# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CodeLite IDE
*.mk
*.txt
*.project
*.workspace
compile_commands.json
Makefile
.codelite/
*.session
*.tags
tags

# Builds
Debug/
build-Debug/
